body{
    margin: 0;
    padding: 0;
}

.container{
    width: 450px;
    height: 620px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    /* background-image: linear-gradient(180deg, #130754, #3b2f80 100%); */
    /* background: url("../../../public/weather-Image.jpg") no-repeat center ;
    background-size: cover; */

}

.mainContainer {
    /* background: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80") no-repeat;
    background-size: cover; */
    background: url("../../../public/weather-Image.jpg") no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 60px;
}
.top-bar input{
    display: flex;
    width: 370px;
    height: 40px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 30px ;
    color: #626262;
    font-size: 18px;
    font-weight: 400;
}
.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}
.weather_image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    width:25%;
    height: 15%;
    margin: auto;
}
.weather_temp{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 90px;
    font-weight: 400;
}
.weather_location{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Young Serif', serif;

}
.data_container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;

}
.text{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: 'Young Serif', serif;
}
.icon{
    margin-top: 10px;
    
}